In [1]:
pip install requests

Requirement already satisfied: requests in c:\users\user\miniconda3\lib\site-packages (2.29.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\miniconda3\lib\site-packages (from requests) (2023.5.7)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\miniconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\miniconda3\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\miniconda3\lib\site-packages (from requests) (3.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:

pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\user\miniconda3\lib\site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\user\miniconda3\lib\site-packages (from beautifulsoup4) (2.4)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import requests
from bs4 import BeautifulSoup
import csv
from itertools import zip_longest

In [4]:
#use request to fetch the URL:

In [5]:
result = requests.get("https://wuzzuf.net/search/jobs/?q=python&a=hpb")
result

In [6]:
#save page content

In [7]:
src = result.content

In [8]:
#create soup object to parse content

In [9]:
soup = BeautifulSoup(src, "lxml")

In [10]:
#find the elements containing the info we need

In [11]:
job_titles = soup.find_all("h2", {"class":"css-m604qf"})
company_name = soup.find_all("a", {"class": "css-17s97q8"})
location = soup.find_all("span", {"class":"css-5wys0k"})
skill = soup.find_all("div", {"class": "css-y4udm8"})

In [12]:
job_titles_data = []
company_name_list = []
location_list =[]
skill_list = []

In [13]:
for i in range(len(location)):
    job_titles_data.append(job_titles[i].text)
    company_name_list.append(company_name[i].text)
    location_list.append(location[i].text)
    skill_list.append(skill[i].text)

In [14]:
job_titles_data

['Senior ODDO/Python Developer',
 'Senior Python Developer (Django - PHP)',
 'Remote Senior Python Engineer',
 'Remote Python Data Scientist',
 'Python Backend Developer',
 'SASE Engineer with Python',
 'Python/Django Backend Developer',
 'Remote Full-stack Python Developer',
 'Python Django Developer',
 'Remote Lead Python Engineer',
 'Remote Python Solutions Developer',
 'Remote Python Software Developer',
 'Remote Python Engineer',
 'Remote Python Programmer',
 'Remote Python Analyst']

In [15]:
# Combine the data into a list of tuples
data = zip_longest(job_titles_data, company_name_list, location_list, skill_list)

# Write the data to a CSV file
with open("jobs_data.csv", "w", newline="", encoding="utf-8") as csv_file:
    writer = csv.writer(csv_file)
    # Write headers
    writer.writerow(["Job Title", "Company Name", "Location", "Skills"])
    # Write rows
    writer.writerows(data)

print("Data written to jobs_data.csv")

Data written to jobs_data.csv

In [16]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv("jobs_data.csv")

# Display the DataFrame
df

,Job Title,Company Name,Location,Skills
0,Senior ODDO/Python Developer,The Address Investments for Real Estate Consul...,"New Cairo, Cairo, Egypt",Full TimeHybridExperienced · 3 - 5 Yrs of Exp ...
1,Senior Python Developer (Django - PHP),Confidential -,"Giza, Egypt",Full TimeHybridExperienced · 5+ Yrs of Exp · I...
2,Remote Senior Python Engineer,Turing -,"Cairo, Egypt",Full TimeExperienced · IT/Software Development...
3,Remote Python Data Scientist,Turing -,"Cairo, Egypt",Full TimeEntry Level · IT/Software Development...
4,Python Backend Developer,Geek Labs -,"Maadi, Cairo, Egypt",Full TimeOn-siteEntry Level · 2+ Yrs of Exp · ...
5,SASE Engineer with Python,CodiLime -,"Cairo, Egypt",Freelance / ProjectExperienced · IT/Software D...
6,Python/Django Backend Developer,mas trading -,"Maadi, Cairo, Egypt",Full TimeRemoteExperienced · 3 - 5 Yrs of Exp ...
7,Remote Full-stack Python Developer,Scopic Software -,"Cairo, Egypt",Full TimeEntry Level · Creative/Design/Art · I...
8,Python Django Developer,Element8 -,"Dubai, United Arab Emirates",Full TimeEntry Level · Creative/Design/Art · I...
9,Remote Lead Python Engineer,Turing -,"Cairo, Egypt",Full TimeExperienced · IT/Software Development...
10,Remote Python Solutions Developer,Turing -,"Cairo, Egypt",Full TimeEntry Level · Installation/Maintenanc...
11,Remote Python Software Developer,Turing -,"Cairo, Egypt",Full TimeEntry Level · Installation/Maintenanc...
12,Remote Python Engineer,Turing -,"Cairo, Egypt",Full TimeEntry Level · Installation/Maintenanc...
13,Remote Python Programmer,Turing -,"Cairo, Egypt",Full TimeEntry Level · IT/Software Development...
14,Remote Python Analyst,Turing -,"Cairo, Egypt",Full TimeEntry Level · IT/Software Development...